<div class="row">
    <div class="col-12 text text-center">
       <h2> Our Menu</h2>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, cupiditate?
          <hr>
        </div>
        <div class="col-md-3">
          Dolores, dolorem. Omnis, ut. Nihil vero a quos voluptatum totam!
          <hr>
        </div>
        <div class="col-md-3">
          Eius nobis quidem omnis atque optio, at fuga ipsum iste.
          <hr>
        </div>
        <div class="col-md-3">
          Eligendi ratione cumque aliquam, quam fugiat ea veniam corrupti illo!
          <hr>
        </div>
      </div>
    </div>

    <div class="col-12 text text-center">
      <h2> Burgers</h2>
      <div class="row">
        <div class="col-md-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, cupiditate?
          <hr>
        </div>
        <div class="col-md-3">
          Dolores, dolorem. Omnis, ut. Nihil vero a quos voluptatum totam!
          <hr>
        </div>
        <div class="col-md-3">
          Eius nobis quidem omnis atque optio, at fuga ipsum iste.
          <hr>
        </div>
        <div class="col-md-3">
          Eligendi ratione cumque aliquam, quam fugiat ea veniam corrupti illo!
          <hr>
        </div>
        <div class="col-md-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, cupiditate?
          <hr>
        </div>
        <div class="col-md-3">
          Dolores, dolorem. Omnis, ut. Nihil vero a quos voluptatum totam!
          <hr>
        </div>
        <div class="col-md-3">
          Eius nobis quidem omnis atque optio, at fuga ipsum iste.
          <hr>
        </div>
        <div class="col-md-3">
          Eligendi ratione cumque aliquam, quam fugiat ea veniam corrupti illo!
          <hr>
        </div>
      </div>
   </div>
  </div>